.seek {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.spots {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  input {
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #dfdfdf;
    max-height: 32px;
  }

  textarea {
    height: 300px;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #dfdfdf;
  }

  button {
    padding: 1rem;
    margin: 1rem 0;
    background: none;
    outline: none;
  }
}

.speakerlist {
  flex: 1;
  padding: 2rem;
}
