.seek {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  section {
    padding: 1rem;
  }

  // form styles (must be nested; or add classes to them)
  input {
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #dfdfdf;
    max-height: 32px;
  }

  textarea {
    /* height: 2200px; */
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #dfdfdf;
  }
}
