.SpeakFriend {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Speak__header {
  display: flex;
  background: $color-primary;
  min-height: 2rem;
  padding: 2rem;
  color: #efefef;
  @include header_primary_mixin(20px);
 }

.Speak__Container {
  @include container();
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: #efefef;
  justify-content: center;
  align-items: center;
  align-self: center;

  @media(max-width: $break-tablet) {
    flex-direction: column;
    width: 100%;
    align-items: center;
    & * {
      width: 90%;
      align-items: center;
    }
  }
}

.Speak__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  background: #888;
  color: #efefef;
}
