// Text
$type-primary: 'Menlo', 'Monaco', Arial;
$type-accent: 'Roboto';

// Colors / Brand
$color-primary: rgb(52, 152, 219);         // light blue
$col-accent-dark: rgb(52, 73, 94);         // dark blue
$col-accent-light: rgb(230, 126, 34);      // orange
