@import '~style/helpers';

.header {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: #fdfdfd;
  margin: 0 auto;
  padding: 0.5rem;
  width: 100%;

  h1 {
    font-size: 24px;
    font-weight: 400;
  }

  .wrapper {
    @include wrapper();
    align-items: center;
  }

  nav {
    a {
      padding: 0 1rem;
    }
  }

}
