.Submission {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  height: 400px;

  // responsiveness for text + form
  @media(max-width: $break-tablet) {
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 600px;
    & * {
      width: 90%;
      align-items: center;
    }
  }
}

// container surrounding the submission text
.Submission__text {
  @include two-up;
  padding-right: 5rem;
  align-self: flex-start;

  h3 {
    margin-top: 0;
  }

  @media(max-width:$break-tablet) {
    padding-right: 0;
    align-self: center;
  }
}

// Container surrounding the form elements
.Submission__form {
  @include two-up;
  justify-content: space-between;
  align-self: flex-start;

  input[type=text] {
    @include border(1px);
    padding: 1rem;
    resize: none;
    margin-bottom: 2rem;
  }

  textarea {
    @include border(1px);
    padding: 1rem;
    margin-bottom: 2rem;
    resize: none;
    height: 40%;
    min-height: 150px;
  }

  button {
    align-self: flex-start;
    border: 1px solid #333;
    padding: 5px 10px;
    background: none;

    &:hover {
      background: $col-accent-light;
      color: white;
      border: 1px solid #333;
    }
  }

  @media(max-width:$break-tablet) {
    align-self: center;
    button {
      align-self: center;
    }
  }
}
