// Imports:
@import "reset";
@import "variables";
@import "mixins";
@import "fixtures";

/* view function styles ("components", but not really) */
@import "nav";
@import "submission";

html {
  height: 100%;
}

body {
  font-family: $type-primary;
  height: 100%;
  background: #fafafa;
}
